.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  height: fit-content;
  top: 5%;
  left: 15%;
  right: 15%;
  width: 70%;
  margin-bottom: 50px;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 6px;
  margin-top: 6px;
}

.photo-details-modal__images {
  margin-left: 64px;
  margin-top: 8px;
}

.photo-details-modal__image {
  max-width: 95%;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-photo__list {
  margin-right: 64px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 12px;
  padding-top: 12px;
  width: 95%;
  border-top: 1px solid #1e1e1e;
}
